html {
    background: url(images/clark-tibbs-oqStl2L5oxI-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

